* {
    box-sizing: border-box;
    margin: auto;
    overflow: hidden;
}

html,
body {
    font-family: 'LXLXGW WenKai TC', 'Edu AU VIC WA NT Pre';
    margin: auto;
    background-color: #A78C7B;
}

header {
    height: 8%;
    width: 100%;
    background-color: #FFBE98;
    text-align: center;
    box-shadow: 42px 2px 0px #85677B;
    border-bottom: 2px solid #85677B;
}

div {
    display: inline-block;
}

/*list*/
.list {
    float: left;
    width: 20vw;
    height: 100vh;
    padding: 1%;
    background-color: #D8C8BD;
    border-right: 2px solid #85677B;
    box-shadow: 2px 0px 3px #85677B;
}

h2.title {
    padding: 10% 1%;
}

ul {
    display: block;
    list-style: none;
}

ul li {
    position: relative;
    white-space: nowrap;
}

ul>li {
    float: none;
}

ul a {
    display: block;
    color: #964F4C;
    text-decoration: none;
    padding: 15% 0;
}

ul a:hover {
    /* 滑鼠滑入按鈕變色*/
    background-color: #964F4C;
    color: #FFBE98;
}

.footer {
    width: 100%;
    text-align: right;
    border-top: 3px solid #964F4C;
}

/*SECTION*/
section {
    width: 80vw;
    float: right;
    padding: 3%;
}

h2.major {
    padding: 1% 1%;
    text-align: center;
    border-bottom: 3px solid #964F4C;
}

article {
    padding: 2%;
    background-color: #D8C8BD;
    opacity: 80%;
    box-shadow: 1px #85677B;
}

article p {
    text-decoration: none;
}

/*INPUT*/
input {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;

    color: #D8C8BD;
    line-height: 1;
    margin: 5% 0;
}

input[type="text"] {
    -moz-transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    -webkit-transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    -ms-transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;

    color: inherit;
    outline: 0;
    width: 100%;
    height: 2.75rem;
    background-color: #964F4C;
    border: solid 3px #964F4C;
    display: block;
    padding: 0 3%;
    text-decoration: none;
}

input[type="text"] {
    box-shadow: none;
}

input[type="text"]:focus {
    background-color: #D8C8BD;
    color: #964F4C;
    box-shadow: 0 0 0 1px #85677B;
}

.action {
    
}

.action li {
    display: inline-block;
}