@import url(input.css);
@import url(list.css);

* {
    box-sizing: border-box;
    margin: auto;
    overflow: hidden;
}

html,
body {
    font-family: 'LXLXGW WenKai TC', 'Edu AU VIC WA NT Pre';
    margin: auto;
    background-color: #CA848A;
}

header {
    height: 8%;
    width: 100%;
    background-color: #D8C8BD;
    text-align: center;
    box-shadow: 42px 2px 0px #85677B;
    border-bottom: 2px solid #85677B;
}

div {
    display: inline-block;
}

/*SECTION*/
section {
    width: 80vw;
    float: right;
    padding: 3%;
}

h2.major {
    padding: 1% 1%;
    text-align: center;
    border-bottom: 3px solid #85677B;
}

h3.submit {
    padding: 1% 5%;
    text-align: left;
    text-size-adjust: 80%;
    border-bottom: 2px solid #85677B;
}

article {
    padding: 2%;
    background-color: #D8C8BD;
    opacity: 80%;
    overflow-x: hidden;
    overflow-y: scroll;
}

article p {
    text-decoration: none;
    margin: 2% auto;
}

span {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    text-align: center;
}

.imgs {
    display: block;
    width: 100%;
}

.imgs img {
    margin: center !important;
    height: 20rem;
    width: auto;
}